[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-ecommerce/client-gateway-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-ecommerce/products-microservice.git
